
@media (prefers-color-scheme: dark){
    :root{
        --bg-color:#333;
        --text-color:#fff;
    }
}

@media (prefers-color-scheme: light){
    :root{
        --bg-color:#fff;
        --text-color:#000;
    }
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.nav-item a {
    font-weight: bold;
    color: orange;
}

.navbar {
    font-family: Source Code Pro;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.all {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
}


.description-dev {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.description-text {
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 45%;
    height: auto;
    margin: auto;
}

.description-text p {
    font-family: Source Code Pro;
    font-weight: bold;
}

.description-text span {
    font-size: 20px;
    font-weight: bold;
}

span {
    font-family: Source Code Pro;
    font-weight: bold;
}

.cv {
    text-decoration: none;
    border: 2px solid orange;
    border-radius: 20px;
    color: orange;
    padding: 5px;
    font-family: Source Code Pro;
    font-weight: bold;
}

.imagen {
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    width: 45%;
    height: auto;
    margin: auto;
}

.imagen img {
    width: 400px;
    height: 400px;
    float: right;
}

.description {
    background-color: #246D99;
    height: auto;
    padding: 100px;
    display: flex;
    border-radius: 15px;
}

.description p {
    font-family: Source Code Pro;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin: auto;
}

.title-work,
.title-tecnologies,
.proyectsContainer {
    margin-top: 200px;
    text-align: center;
}


.title-work {
    width: 100%;
}

.title-tecnologies {
    width: 100%;
}


.Work {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    color: #151515;
    flex-direction: row;
}

.Work i {
    margin: auto;
    font-size: 50px;
    width: 0, 5%;
    color: var(--text-color);
}

.Work p {
    font-size: 25px;
    font-weight: bold;
    margin-left: 0;
    margin: auto;
    font-family: Source Code Pro;
    width: 95, 5%;
    color: var(--text-color);
}

.contact {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 200px;
}

.contact i {
    font-size: 100px;
    color: C1CDD6;
}

.contact a {
    text-decoration: none;
    width: 33%;
    text-align: center;
}

.gmail {
    color: orange;
}


.tecnologies {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 200px;
}

.img-icons {
    width: 200px;
    text-align: center;
    font-size: 100px;
    padding: 35px;
}

.icon-tecnologies img:hover {
    transform: scale(1.6);
}

.icon-tecnologies {
    transition: transform .2s;
}

.icon-tecnologies span {
    text-align: center;
}

.proyectsContainer h2 {
    width: 100%;
    font-family: Source Code Pro;
    font-weight: bold;
    font-size: 30px;
}

.proyects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.proyects .card{
    padding: 20px;
    width: 48%;
    height: auto;
    margin: 2px;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
}

.proyects img {
    width: 100%;
    height: 100%;
}

.proyects .card .card-body p{
    color: var(--text-color);
}

.fa-brands span {
    font-size: 13px;
    font-weight: bold;
}


.contact h2 {
    text-align: center;
    width: 100%;
    color: C1CDD6;
    font-family: Source Code Pro;
    font-size: 30px;
    font-weight: bold;
}



.contact .fa-envelope, .fa-github{
    color: var(--text-color);
}

.gmail{
    color: var(--text-color);
}


.title-tecnologies h2 {
    width: 100%;
    font-family: Source Code Pro;
    font-weight: bold;
    font-size: 30px;
}

.title-work h2 {
    width: 100%;
    font-family: Source Code Pro;
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
}

.form-for-contact {
    width: 100%;
    justify-content: center;
    margin-top: 200px;
}

.form-for-contact form {
    display: flex;
    flex-direction: column;
}


.form-for-contact label {
    font-family: Source Code Pro;
}

.form-for-contact input,
textarea {
    border-radius: 6px;
    margin-bottom: 15px;
}

.form-for-contact h1 {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-family: Source Code Pro;
}

.form-for-contact button{
    background-color: var(--bg-color);
    margin-top: 15px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    border: 2px solid orange;
    border-radius: 20px;
    color: orange;
    padding: 5px;
    font-family: Source Code Pro;
    font-weight: bold;
}




@media (max-width:991px) {

    .description-dev {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        text-align: center;
    }

    .description-text {
        padding-left: 0px;
        padding-top: 0px;
        margin-left: 0px;
        width: 100%;
        height: auto;
        margin: auto;
    }

    .imagen {
        width: 100%;
        display: flex;
    }

    .imagen img {
        margin: auto;
        width: 100%;
    }

    .gmail {
        font-size: 10px;
    }
}